body {
  background-color: #000024;
  color: white;
}
.row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: solid 2px rgb(255, 255, 255);

  padding: 20px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 36, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.title {
  color: greenyellow;
}

footer {
  font-size: 10px;
}
footer > a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

footer > a:hover {
  color: greenyellow;
}
